<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-banner></app-banner>
  
  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>Recommended For You</h4>
        <p>Keep Shopping For</p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/images/img8.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h4>Men's Shirts</h4>
        <p>Starting From Rs. 299</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
 

